pipeline/iterateFilename.json
{
	"name": "iterateFilename",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "inputfolderDataSet",
						"type": "DatasetReference",
						"parameters": {
							"inputFolfrt": {
								"value": "@pipeline().parameters.folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "setFolderVariable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@pipeline().parameters.folder",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "inputfolderDataSet",
									"type": "DatasetReference",
									"parameters": {
										"inputFolfrt": "input"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "outputDataset",
									"type": "DatasetReference",
									"parameters": {
										"outfolder": {
											"value": "@variables('vFolder')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "setFolderVariable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFolder",
								"value": {
									"value": "@concat( 'out/' , if( equals(lastindexof(item().name,'.'),-1) ,'others',split(item().name,'.')[1]))\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vFolder",
					"value": "input"
				}
			}
		],
		"parameters": {
			"folder": {
				"type": "string",
				"defaultValue": "input"
			}
		},
		"variables": {
			"vFolder": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-01-10T19:34:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}