templates/plSobjectToCsv/plSobjectToCsv.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"linkSalesforce1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/plSobjectToCsv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "dsSalesforceSobject",
								"type": "DatasetReference",
								"parameters": {
									"sObject": "Account"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "write Sobject descrive json to Blob",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {
								"x-ms-version": "2017-11-09",
								"x-ms-blob-type": "BlockBlob"
							},
							"url": {
								"value": "@replace('https://salesforce69.blob.core.windows.net/contsalesforce/token12.json' ,'token12' , 'soqlAccount')",
								"type": "Expression"
							},
							"body": {
								"value": "@activity('Lookup1').output",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com"
							}
						}
					}
				],
				"folder": {
					"name": "salesforce"
				},
				"annotations": [],
				"lastPublishTime": "2024-01-25T01:53:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsSalesforceSobject')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsSalesforceSobject')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('linkSalesforce1')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sObject": {
						"type": "string",
						"defaultValue": "Account"
					}
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": {
						"value": "@dataset().sObject",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}